/* FOR DEMOING-DELETE BEFORE LAUNCH!!!! */
input {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 10% 25% 30% 25% 10%;
    grid-template-areas:
        "title"
        "player-one"
        "battleground"
        "player-two"
        "controls";
}

h1 {
    grid-area: title;
    text-align: center;
}

.player-one {
    grid-area: player-one;
}

.player-two {
    grid-area: player-two;
}

.battleground-deck {
    display: flex;
    justify-content: center;
}

.battleground {
    grid-area: battleground;
    display: grid;
    grid-template-rows: 33% 34% 33%;
    grid-template-areas:
        "one"
        "spoils"
        "two";
}

.player-one-soldier:last-child {
    position: relative;
    top: 0;
    grid-area: one;
}

.player-two-soldier:last-child {
    position: relative;
    bottom: 0;
    grid-area: two;
}

.spoils:last-child {
    position: relative;
    grid-area: spoils;
}

button {
    grid-area: controls;
    width: 10%;
    margin: auto;
}

.player-deck {
    display: inline;
    position: absolute;
    margin-left: 10px;
    padding-left: 5px;
}