* {
    box-sizing: border-box;
}

body {
    height: 100%vh;
    margin: auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr 2fr 1fr;
    grid-template-areas:
        "title "
        "player-one"
        "battleground"
        "player-two"
        "controls";
    column-gap: 5px;
    row-gap: 5px;
    place-content: center;
    place-items: center;
}

h1 {
    grid-area: title;
    text-align: center;
}

.player-one {
    grid-area: player-one;
}

.player-two {
    grid-area: player-two;
}

.battleground-deck {
    justify-content: center;
    grid-area: battleground;
}

.battleground {
    grid-area: battleground;
   }

button {
    grid-area: controls;
    width: 100%;
    margin: auto;
}

.player-deck {
    display: inline;
    position: absolute;
    
}

.player-one-name {
    grid-area: name-one;
}

.player-two-name {
    grid-area: name-two;
}

input {
    display: inline;
}